*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,  sans-serif;
}

nav{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.nav__mainMenu{
    display: flex;
    list-style: none;
}


.nav__mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

.nav__mainMenu li a:hover{
    background-color: rgb(255, 94, 0);
}


.nav__openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
.nav__closeMenu{
    display: none;
 }

.nav__icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-facebook:hover{color: rgb(0, 110, 245)}
.fa-twitter:hover{color: rgb(147, 184, 46)}
.fa-github:hover{color: rgb(20, 103, 117)}
.fa-instagram:hover{color: rgb(0, 245, 94)}

.nav__logo{
    margin: 6px;
    font-size: 2rem;
    cursor: pointer;
}

 @media (max-width: 800px){
     .nav__mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
     }
     .nav__closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
     }
     .nav__openMenu{display: block}
     .nav__mainMenu li a:hover{
         background: none;
         color: rgb(255, 123, 0);
         font-size: 1.6rem;
     }
     .nav__icons i {
         display: inline-block;
         padding: 12px;
     }
 }